@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Verklaring";
}
<h1>@ViewData["Title"]</h1>


<div _ngcontent-c13="" class="boiler" id="boiler">
    <div _ngcontent-c13=""></div><ng-component _nghost-c22="">
        <!----><div _ngcontent-c22="" rl-text="content18">
            &nbsp;
            <p _ngcontent-c22="" dir="ltr" style="text-align: center;"><strong _ngcontent-c22="">PRIVACYVERKLARING</strong></p>

            <p _ngcontent-c22="" dir="ltr" style="">&nbsp;</p>

            <p _ngcontent-c22="" dir="ltr" style="">&nbsp;</p>

            <p _ngcontent-c22="" dir="ltr" style="">&nbsp;</p>

            <p _ngcontent-c22="" dir="ltr" style="margin-left: 40px;">
                <span _ngcontent-c22="" style="color: rgb(0, 0, 0); font-style: normal;"><!----><span _ngcontent-c22="" class="boiler-field">FitComrade</span><!---->&nbsp;respecteert de privacy van de bezoekers van de Website,&nbsp;in het bijzonder de rechten van bezoekers met betrekking tot de geautomatiseerde verwerking van persoonsgegevens. Vanwege volledige transparantie met onze klanten hebben wij daarom&nbsp;een beleid geformuleerd en geïmplementeerd met betrekking tot deze verwerkingen zelf, het doel ervan alsook de mogelijkheden voor betrokkenen om hun de rechten zo goed mogelijk te kunnen uitoefenen. </span><br _ngcontent-c22="">
                &nbsp;
            </p>

            <p _ngcontent-c22="" dir="ltr" style="margin-left: 40px;"><span _ngcontent-c22="" style="color: rgb(0, 0, 0); font-style: normal;">Voor alle aanvullende informatie over de bescherming van persoonsgegevens kunt u terecht op de website van de Autoriteit persoonsgegevens: </span><a _ngcontent-c22="" href="https://autoriteitpersoonsgegevens.nl/nl" style=""><span _ngcontent-c22="" style="color: rgb(17, 85, 204); font-style: normal;">https://autoriteitpersoonsgegevens.nl/nl</span></a><span _ngcontent-c22="" style="color: rgb(0, 0, 0); font-style: normal;">.</span></p>

            <p _ngcontent-c22="" dir="ltr" style="">&nbsp;</p>

            <!----><div _ngcontent-c22="" rl-text="content1">
                <p _ngcontent-c22="" dir="ltr" style="margin-left: 40px;">Totdat u op de website het gebruik van cookies en andere tracking systems accepteert, plaatsen wij geen niet-geanonimiseerde analytische cookies en/of tracking cookies op uw computer,&nbsp;mobiele telefoon of tablet.</p>
            </div>

            <p _ngcontent-c22="" dir="ltr" style="margin-left: 40px;"><span _ngcontent-c22="" style="color: rgb(0, 0, 0); font-style: normal;">Met het voortzetten van het bezoek van de&nbsp;Website accepteert u de volgende gebruikersvoorwaarden. <!---->&nbsp;</span></p>

            <p _ngcontent-c22="" dir="ltr" style="">&nbsp;</p>

            <p _ngcontent-c22="" dir="ltr" style="margin-left: 40px;"><span _ngcontent-c22="" style="color: rgb(0, 0, 0); font-style: normal;">De huidige op de Website beschikbare versie van de privacyverklaring&nbsp;is de enige versie die van toepassing is zolang u de Website bezoekt, totdat een nieuwe versie de huidige versie vervangt.</span></p>

            <p _ngcontent-c22="" dir="ltr" style="">
                <br _ngcontent-c22="">
                &nbsp;
            </p>

            <p _ngcontent-c22="" dir="ltr" style=""><strong _ngcontent-c22=""><span _ngcontent-c22="" style="color: rgb(0, 0, 0); font-style: normal;">Artikel 1 - Wettelijke bepalingen</span></strong></p>

            <ol _ngcontent-c22="" dir="ltr">
                <li _ngcontent-c22=""><span _ngcontent-c22="" style="color: rgb(0, 0, 0); font-style: normal;">Website <span _ngcontent-c22="" class="boiler-field">FitComrade</span></span></li>
            </ol>

            <ol _ngcontent-c22="" dir="ltr" start="2">
                <li _ngcontent-c22=""><span _ngcontent-c22="" style="font-style: normal;">Verantwoordelijke voor de verwerking van persoonsgegevens &nbsp;<!----><span _ngcontent-c22="" rl-text="content23"><span _ngcontent-c22="" style="font-style: normal;"><span _ngcontent-c22="" style="color: rgb(0, 0, 0);" class="boiler-field">FitComrade</span>, gevestigd te <span _ngcontent-c22="" style="color: rgb(0, 0, 0);" class="boiler-field empty"></span>, <span _ngcontent-c22="" style="color: rgb(0, 0, 0);" class="boiler-field empty"></span> <span _ngcontent-c22="" style="color: rgb(0, 0, 0);" class="boiler-field empty"></span>, kvk-nummer: <span _ngcontent-c22="" style="color: rgb(0, 0, 0);" class="boiler-field empty"></span></span></span></span><span _ngcontent-c22="" style="color: rgb(0, 0, 0); font-style: normal;"><!---->.</span></li>
            </ol>

            <p _ngcontent-c22="">&nbsp;</p>

            <p _ngcontent-c22=""><strong _ngcontent-c22=""><span _ngcontent-c22="" style="color: rgb(0, 0, 0); font-style: normal;">Artikel 2 - Toegang tot de website</span></strong></p>

            <p _ngcontent-c22="">&nbsp;</p>

            <p _ngcontent-c22="" style="margin-left: 40px;"><span _ngcontent-c22="" style="color: rgb(0, 0, 0); font-style: normal;">De toegang tot de website en het gebruik is strikt persoonlijk. U zult deze website alsook de gegevens en informatie die daarop verstrekt worden niet gebruiken voor commerciële, politieke&nbsp;of publicitaire doeleinden, dan wel voor enige commerciële aanbiedingen en in het bijzonder niet gebruiken voor ongevraagde elektronische aanbiedingen. &nbsp;</span></p>

            <p _ngcontent-c22="" dir="ltr" style="">&nbsp;</p>

            <p _ngcontent-c22="" dir="ltr" style=""><strong _ngcontent-c22=""><span _ngcontent-c22="" style="color: rgb(0, 0, 0); font-style: normal;">Artikel 3 - De content van de website &nbsp;</span></strong></p>

            <p _ngcontent-c22="" dir="ltr" style="">&nbsp;</p>

            <p _ngcontent-c22="" style="margin-left: 40px;"><span _ngcontent-c22="" style="color: rgb(0, 0, 0); font-style: normal;">Alle merken, afbeeldingen, teksten, commentaren, illustraties, (animatie)plaatjes, videobeelden, geluiden, alsook alle technische applicaties die gebruikt kunnen worden om de website te laten functioneren en meer in het algemeen alle onderdelen die op deze site zijn gebruikt, zijn beschermd bij wet door intellectuele eigendomsrechten. Iedere reproductie, herhaling, gebruik of aanpassing, op welke wijze dan ook, van het geheel of slechts een onderdeel ervan, met inbegrip van de technische applicaties, zonder voorafgaande schriftelijke toestemming van de verantwoordelijke, is ten strengste verboden. Indien de beheerder niet meteen actie onderneemt tegen enig inbreuk, kan dat niet worden opgevat als stilzwijgende toestemming dan wel het afzien van rechtsvervolging.</span></p>

            <p _ngcontent-c22="" dir="ltr" style="">&nbsp;</p>

            <p _ngcontent-c22="" dir="ltr" style=""><strong _ngcontent-c22=""><span _ngcontent-c22="" style="color: rgb(0, 0, 0); font-style: normal;">Artikel 4 - Het beheer van de website</span></strong></p>

            <p _ngcontent-c22="" dir="ltr" style="">&nbsp;</p>

            <p _ngcontent-c22="" style="margin-left: 40px;"><span _ngcontent-c22="" style="color: rgb(0, 0, 0); font-style: normal;">Voor het goede beheer van de website kan de beheerder op ieder moment:</span></p>

            <ul _ngcontent-c22="" style="margin-left: 40px;">
                <li _ngcontent-c22="" style="color: rgb(0, 0, 0); font-style: normal;"><span _ngcontent-c22="" style="color: rgb(0, 0, 0); font-style: normal;">de toegang aan een bepaalde categorie bezoekers schorsen, onderbreken of beperken tot de gehele of een gedeelte van de website</span></li>
                <li _ngcontent-c22="" dir="ltr" style="color: rgb(0, 0, 0); font-style: normal;">
                    <p _ngcontent-c22="" dir="ltr" style=""><span _ngcontent-c22="" style="color: rgb(0, 0, 0); font-style: normal;">alle informatie verwijderen die het functioneren van de website kan verstoren of in strijd is met nationale of internationale wetgeving of in strijd is met internet-etiquette</span></p>
                </li>
                <li _ngcontent-c22="" dir="ltr" style="color: rgb(0, 0, 0); font-style: normal;">
                    <p _ngcontent-c22="" dir="ltr" style=""><span _ngcontent-c22="" style="color: rgb(0, 0, 0); font-style: normal;">de website tijdelijk niet beschikbaar hebben teneinde updates uit te kunnen voeren </span></p>
                </li>
            </ul>

            <p _ngcontent-c22="" dir="ltr" style="">&nbsp;</p>

            <p _ngcontent-c22="" dir="ltr" style=""><strong _ngcontent-c22=""><span _ngcontent-c22="" style="color: rgb(0, 0, 0); font-style: normal;">Artikel 5 - Verantwoordelijkheden</span></strong></p>

            <p _ngcontent-c22="" dir="ltr" style="">&nbsp;</p>

            <p _ngcontent-c22="" style="margin-left: 40px;"><span _ngcontent-c22="" style="color: rgb(0, 0, 0); font-style: normal;">De beheerder is in geen geval verantwoordelijk voor falen, storingen, moeilijkheden of onderbrekingen van het functioneren van de website, waardoor de website of een van zijn functionaliteiten niet toegankelijk is.</span>&nbsp;<span _ngcontent-c22="" style="color: rgb(0, 0, 0); font-style: normal;">De wijze waarop u verbinding zoekt met de website is uw eigen verantwoordelijkheid. U dient zelf alle geschikte maatregelen te treffen om uw apparatuur en uw gegevens te beschermen tegen onder andere virusaanvallen op het internet. U bent bovendien zelf verantwoordelijk voor de websites en de gegevens die u op internet raadpleegt.</span></p>

            <p _ngcontent-c22="">&nbsp;</p>

            <p _ngcontent-c22="" style="margin-left: 40px;"><span _ngcontent-c22="" style="color: rgb(0, 0, 0); font-style: normal;">De beheerder is niet aansprakelijk voor juridische procedures die tegen u worden gevoerd:</span></p>

            <ul _ngcontent-c22="" style="margin-left: 40px;">
                <li _ngcontent-c22="" dir="ltr" style="color: rgb(0, 0, 0); font-style: normal;">
                    <p _ngcontent-c22="" dir="ltr" style=""><span _ngcontent-c22="" style="color: rgb(0, 0, 0); font-style: normal;">vanwege het gebruik van de website of diensten toegankelijk via internet</span></p>
                </li>
                <li _ngcontent-c22="" dir="ltr" style="color: rgb(0, 0, 0); font-style: normal;">
                    <p _ngcontent-c22="" dir="ltr" style=""><span _ngcontent-c22="" style="color: rgb(0, 0, 0); font-style: normal;">vanwege het schenden van de voorwaarden van deze privacy policy</span></p>
                </li>
            </ul>

            <p _ngcontent-c22="" style="color: rgb(0, 0, 0); font-style: normal; margin-left: 40px;"><span _ngcontent-c22="" style="color: rgb(0, 0, 0); font-style: normal;">De beheerder is niet verantwoordelijk voor enige schade die u zelf oploopt, dan wel derden of uw apparatuur oplopen als gevolg van uw verbinding met of het gebruik van de website. U zult zich onthouden van iedere actie tegen de beheerder als gevolg hiervan.</span></p>

            <p _ngcontent-c22="" style="color: rgb(0, 0, 0); font-style: normal; margin-left: 40px;">&nbsp;</p>

            <p _ngcontent-c22="" style="margin-left: 40px;"><span _ngcontent-c22="" style="color: rgb(0, 0, 0); font-style: normal;">Indien de beheerder betrokken raakt bij een geschil als gevolg van uw gebruik van deze website, is hij gerechtigd alle schade die hij dientengevolge lijdt en nog zal lijden op u te verhalen. </span></p>

            <p _ngcontent-c22="" dir="ltr" style="">&nbsp;</p>

            <p _ngcontent-c22="" dir="ltr" style=""><strong _ngcontent-c22=""><span _ngcontent-c22="" style="color: rgb(0, 0, 0); font-style: normal;">Artikel 6 - Het verzamelen van gegevens</span></strong></p>

            <p _ngcontent-c22="" dir="ltr" style="">&nbsp;</p>

            <p _ngcontent-c22="" style="margin-left: 40px;"><span _ngcontent-c22="" style="color: rgb(0, 0, 0); font-style: normal;">Uw gegevens worden verzameld door &nbsp;<!----><!----><span _ngcontent-c22="" class="boiler-field">FitComrade</span><!----><!---->.&nbsp;Onder persoonsgegevens worden verstaan: alle informatie over een geïdentificeerde of identificeerbare natuurlijke persoon; als identificeerbaar wordt beschouwd een natuurlijke persoon die direct of indirect kan worden geïdentificeerd, met name aan de hand van een identificator zoals een naam, een identificatienummer, locatiegegevens, een online identificator of een of meer elementen die kenmerkend zijn voor de fysieke, fysiologische, genetische, psychische, economische, culturele of sociale identiteit.</span></p>

            <p _ngcontent-c22="">&nbsp;</p>

            <p _ngcontent-c22="" style="margin-left: 40px;"><span _ngcontent-c22="" style="color: rgb(0, 0, 0); font-style: normal;">De persoonsgegevens die op de website worden verzameld worden hoofdzakelijk gebruikt door de beheerder voor het onderhouden van relaties met u en indien aan de orde voor het verwerken van uw bestellingen. <!---->&nbsp;</span></p>

            <p _ngcontent-c22="">&nbsp;</p>

            <p _ngcontent-c22=""><strong _ngcontent-c22=""><span _ngcontent-c22="" style="color: rgb(0, 0, 0); font-style: normal;">Artikel 7 - Uw rechten met betrekking tot uw gegevens</span></strong></p>

            <p _ngcontent-c22="">&nbsp;</p>

            <p _ngcontent-c22="" style="margin-left: 40px;"><span _ngcontent-c22="" style="color: rgb(0, 0, 0); font-style: normal;">Op grond van artikel 13 lid 2 sub b AVG heeft eenieder recht op inzage van en rectificatie of wissing van zijn persoonsgegevens of beperking van de hem betreffende verwerking, alsmede het recht tegen de verwerking bezwaar te maken en het recht op gegevensoverdraagbaarheid. U kunt deze rechten uitoefenen door contact met ons op te nemen via&nbsp;<span _ngcontent-c22="" class="boiler-field">435914@student.fontys.nl</span>. </span></p>

            <p _ngcontent-c22="" style="margin-left: 40px;">&nbsp;</p>

            <p _ngcontent-c22="" style="margin-left: 40px;"><span _ngcontent-c22="" style="color: rgb(0, 0, 0); font-style: normal;">Ieder verzoek daartoe dient te worden vergezeld van een kopie van een geldig identiteitsbewijs, waarop u uw handtekening heeft gezet en onder vermelding van het adres waarop er met u contact kan worden opgenomen. Binnen 1 maand na het ingediende verzoek, krijgt u antwoord op uw verzoek. Afhankelijk van de complexiteit van de verzoeken en het aantal van de verzoeken kan deze termijn indien nodig met 2 maanden worden verlengd.</span></p>

            <p _ngcontent-c22="" dir="ltr" style="">&nbsp;</p>

            <p _ngcontent-c22="" dir="ltr" style=""><strong _ngcontent-c22=""><span _ngcontent-c22="" style="color: rgb(0, 0, 0); font-style: normal;">Artikel&nbsp;8 - Verwerking van persoonsgegevens</span></strong></p>

            <p _ngcontent-c22="" dir="ltr" style="">&nbsp;</p>

            <p _ngcontent-c22="" style="margin-left: 40px;"><span _ngcontent-c22="" style="color: rgb(0, 0, 0); font-style: normal;">In geval van schending van enige wet- of regelgeving, waarvan de bezoeker wordt verdacht en waarvoor de autoriteiten persoonsgegevens nodig hebben die de beheerder heeft verzameld, worden deze aan hen verstrekt na een uitdrukkelijk en gemotiveerd verzoek van die autoriteiten, waarna deze persoonsgegevens mitsdien niet meer onder de bescherming van de bepalingen van deze privacyverklaring vallen. </span></p>

            <p _ngcontent-c22="" style="margin-left: 40px;">&nbsp;</p>

            <p _ngcontent-c22="" style="margin-left: 40px;"><span _ngcontent-c22="" style="color: rgb(0, 0, 0); font-style: normal;">Indien bepaalde informatie noodzakelijk is om toegang te krijgen tot bepaalde functionaliteiten van de website, zal de verantwoordelijke het verplichte karakter van deze informatie aangeven op het moment van het vragen van de gegevens.</span></p>

            <p _ngcontent-c22="" dir="ltr" style="">&nbsp;</p>

            <p _ngcontent-c22="" dir="ltr" style=""><strong _ngcontent-c22=""><span _ngcontent-c22="" style="color: rgb(0, 0, 0); font-style: normal;">Artikel 9 - Commerciële aanbiedingen</span></strong></p>

            <p _ngcontent-c22="" dir="ltr" style="">&nbsp;</p>

            <p _ngcontent-c22="" style="margin-left: 40px;"><span _ngcontent-c22="" style="color: rgb(0, 0, 0); font-style: normal;">U kunt commerciële aanbiedingen krijgen van de beheerder. Indien u deze niet (meer) wenst te ontvangen, stuurt u een mail naar het volgende adres:&nbsp;<span _ngcontent-c22="" class="boiler-field">435914@student.fontys.nl</span>.</span></p>

            <!---->

            <p _ngcontent-c22="" style="margin-left: 40px;">&nbsp;</p>

            <p _ngcontent-c22="" style="margin-left: 40px;"><span _ngcontent-c22="" style="color: rgb(0, 0, 0); font-style: normal;">Indien u tijdens het bezoek van de website enige persoonsgegevens tegenkomt, dient u zich te onthouden van het verzamelen ervan of van enig ander ongeoorloofd gebruik alsook van iedere daad die een inbreuk op de persoonlijke levenssfeer van die perso(o)n(en) oplevert. De beheerder is in geen geval verantwoordelijk in bovengenoemde situaties. </span></p>

            <p _ngcontent-c22="">&nbsp;</p>

            <p _ngcontent-c22=""><strong _ngcontent-c22=""><span _ngcontent-c22="" style="color: rgb(0, 0, 0); font-style: normal;">Artikel 10 - Bewaartermijn gegevens</span></strong></p>

            <p _ngcontent-c22="">&nbsp;</p>

            <p _ngcontent-c22="" style="margin-left: 40px;"><span _ngcontent-c22="" style="color: rgb(0, 0, 0); font-style: normal;">De door de beheerder van website verzamelde gegevens worden gebruikt en bewaard voor de duur zoals deze bij wet is bepaald. </span></p>

            <p _ngcontent-c22="" dir="ltr" style="">&nbsp;</p>

            <p _ngcontent-c22="" dir="ltr" style=""><strong _ngcontent-c22=""><span _ngcontent-c22="" style="color: rgb(0, 0, 0); font-style: normal;">Artikel 11 - Cookies </span></strong></p>

            <ol _ngcontent-c22="">
                <li _ngcontent-c22=""><span _ngcontent-c22="">Een cookie is een klein tekstbestand dat bij bezoek aan onze website geplaatst wordt op de harde schijf van uw&nbsp;computer. Een cookie bevat gegevens zodat u&nbsp;bij elk bezoek aan onze website&nbsp;als bezoeker kan worden herkend. Het is dan mogelijk om onze website&nbsp;speciaal op u&nbsp;in te stellen en het inloggen te vergemakkelijken. <!---->&nbsp;</span></li>
                <li _ngcontent-c22=""><span _ngcontent-c22="" style="color: rgb(0, 0, 0); font-style: normal;">Wij gebruiken de volgende soorten cookies op onze website:</span></li>
            </ol>

            <!----><div _ngcontent-c22="" rl-text="content14">
                <p _ngcontent-c22="" style="margin-left: 40px;"><span _ngcontent-c22="" style="color: rgb(0, 0, 0); font-style: normal;">- Functionele cookies: zoals sessie- en login cookies voor het bijhouden van sessie- en inloginformatie.&nbsp;</span></p>
            </div>

            <!---->
            <!---->
            <!---->

            <ol _ngcontent-c22="" start="3">
                <li _ngcontent-c22="">Meer specifiek gebruiken wij de volgende cookies:</li>
            </ol>

            <!---->
            <!---->
            <!---->
            <!---->
            <!---->
            <!---->
            <!---->
            <!----><div _ngcontent-c22="" rl-text="content12">
                <p _ngcontent-c22="" style="margin-left: 40px;"><font _ngcontent-c22="" color="#000000"><font _ngcontent-c22=""><font _ngcontent-c22="">- Geen overige cookies</font></font></font></p>
            </div>

            <ol _ngcontent-c22="" start="4">
                <li _ngcontent-c22="">
                    <p _ngcontent-c22="" style="">Wanneer u onze website bezoekt kunnen cookies afkomstig van de verantwoordelijke en/of derden op uw apparatuur worden geïnstalleerd.&nbsp;</p>
                </li>
                <li _ngcontent-c22="">
                    <p _ngcontent-c22="" style=""><span _ngcontent-c22="" style="color: rgb(0, 0, 0); font-style: normal;">Voor meer informatie over het gebruik, het beheer en het verwijderen van cookies voor elk besturingstype, nodigen wij u uit om de volgende link te raadplegen: &nbsp;</span><a _ngcontent-c22="" href="https://autoriteitpersoonsgegevens.nl/nl/onderwerpen/internet-telefoon-tv-en-post/cookies#faq" style=""><span _ngcontent-c22="" style="color: rgb(17, 85, 204); font-style: normal;">https://autoriteitpersoonsgegevens.nl/nl/onderwerpen/internet-telefoon-tv-en-post/cookies#faq</span></a></p>
                </li>
            </ol>

            <p _ngcontent-c22="" dir="ltr" style=""><strong _ngcontent-c22=""><span _ngcontent-c22="" style="color: rgb(0, 0, 0); font-style: normal;">Artikel 12 - Beeldmateriaal en aangeboden producten</span></strong></p>

            <p _ngcontent-c22="" dir="ltr" style="">&nbsp;</p>

            <p _ngcontent-c22="" style="margin-left: 40px;"><span _ngcontent-c22="" style="color: rgb(0, 0, 0); font-style: normal;">Aan het beeldmateriaal dat behoort bij de aangeboden producten op de website kunnen geen rechten worden ontleend.</span></p>

            <p _ngcontent-c22="" dir="ltr" style="">&nbsp;</p>

            <p _ngcontent-c22="" dir="ltr" style=""><strong _ngcontent-c22=""><span _ngcontent-c22="" style="color: rgb(0, 0, 0); font-style: normal;">Artikel 13 - Toepasselijk recht</span></strong></p>

            <p _ngcontent-c22="" dir="ltr" style="">&nbsp;</p>

            <p _ngcontent-c22="" style="margin-left: 40px;"><span _ngcontent-c22="" style="color: rgb(0, 0, 0); font-style: normal;">Op deze voorwaarden is Nederlands Recht van toepassing. De rechtbank van de <!----><!----><span _ngcontent-c22="" rl-text="content25">vestigingsplaats</span> van de beheerder is exclusief bevoegd bij eventuele geschillen omtrent deze voorwaarden, behoudens wanneer hierop een wettelijke uitzondering van toepassing is. </span></p>

            <p _ngcontent-c22="">&nbsp;</p>

            <p _ngcontent-c22=""><strong _ngcontent-c22=""><span _ngcontent-c22="" style="color: rgb(0, 0, 0); font-style: normal;">Artikel&nbsp;14 - Contact</span></strong></p>

            <p _ngcontent-c22="">&nbsp;</p>

            <p _ngcontent-c22="" style="margin-left: 40px;"><span _ngcontent-c22="" style="color: rgb(0, 0, 0); font-style: normal;">Voor vragen, productinformatie of informatie over de website zelf, kunt u zich richten tot: <span _ngcontent-c22="" class="boiler-field">Jurgen</span><!----><span _ngcontent-c22="" rl-text="content3">,&nbsp;<span _ngcontent-c22=""><span _ngcontent-c22="" class="boiler-field">435914@student.fontys.nl</span></span></span><!---->.</span></p>

            <p _ngcontent-c22="" style="margin-left: 40px;">&nbsp;</p>

            <p _ngcontent-c22=""><strong _ngcontent-c22=""><span _ngcontent-c22="" style="color: rgb(0, 0, 0); font-style: normal;">Artikel 15&nbsp;- Toeschrijving</span></strong></p>

            <p _ngcontent-c22="" dir="ltr" style="">&nbsp;</p>

            <p _ngcontent-c22="" style="margin-left: 40px; text-align: center;"><span _ngcontent-c22="" style="color: rgb(0, 0, 0); font-style: normal;">Deze privacyverklaring is van toepassing sinds 14-6-2021</span></p>

            <p _ngcontent-c22="" style="margin-left: 40px;">&nbsp;</p>
        </div>

        <!---->
        <!---->
        <!---->

        <p _ngcontent-c22="">&nbsp;</p>

        <p _ngcontent-c22="">&nbsp;</p>
    </ng-component>
</div>
