@page
@model FitComrade.Pages.Shop.IndexModel
@{
}
<html>
<head>
    <link rel="stylesheet" href="~/css/Shop.css" />
</head>
<body>

    <h3>Producten</h3>
    <form>
        <p>
            Zoek Product: <input type="text" asp-for="SearchString" />
            <input type="submit" value="Filter" />
        </p>
    </form>
    
    <table class="table" style="height:auto">
        <tr>
            <th><a asp-page="Index" asp-page-handler="sort" asp-route-id="1">ArtNr.</a></th>
            <th><a asp-page="Index" asp-page-handler="sort" asp-route-id="2">Product</a></th>
            <th></th>            
            <th><a asp-page="Index" asp-page-handler="sort" asp-route-id="3">Prijs</a></th>
            <th><a asp-page="Index" asp-page-handler="sort" asp-route-id="4">Voorraad</a></th>
            <th></th>

        </tr>
        @foreach (var product in Model.Products)
        {
            <tr>
                <td data-label="ArtNr.">@product.ProductID</td>
                <td data-label="Product">@product.ProductName</td>
                <td><img src="~/images/@product.ProductImage" width="150" height="150" /></td>                
                <td data-label="Prijs">€@product.ProductPrice</td>
                <td data-label="Voorraad">@product.ProductQuantity</td>
                @if(product.ProductQuantity > 0)
                {
                <td>
                    <a asp-page="Cart" asp-page-handler="buynow" asp-route-id="@product.ProductID">Bestel</a>
                </td>
                }
                else
                {
                    <td>
                        <p>NIET OP VOORRAAD</p>
                    </td>
                }
            </tr>
        }
    </table>

</body>
</html>