@page
@model FitComrade.Pages.Shop.IndexModel
@{
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Shop</title>
</head>
<body>

    <h3>Producten</h3>
    <form>
        <p>
            Zoek Product: <input type="text" asp-for="SearchString" />
            <input type="submit" value="Filter" />
        </p>
    </form>
    
    <table class="table" style="height:auto">
        <tr>
            <th>Nr.</th>
            <th>Product</th>
            <th>Foto</th>            
            <th>Prijs</th>
            <th>Voorraad</th>
            <th></th>

        </tr>
        @foreach (var product in Model.Products)
        {
            <tr>
                <td>@product.ProductID</td>
                <td>@product.ProductName</td>
                <td><img src="~/images/FitComrade Product.png" width="150" height="150" /></td>                
                <td>€@product.ProductPrice</td>
                <td>@product.ProductQuantity</td>
                @if(product.ProductQuantity > 0)
                {
                <td>
                    <a asp-page="Cart" asp-page-handler="buynow" asp-route-id="@product.ProductID">Bestel</a>
                </td>
                }
                else
                {
                    <td>
                        <p>NIET OP VOORRAAD</p>
                    </td>
                }
            </tr>
        }
    </table>

</body>
</html>